---
import Layout from "../../layouts/Layout.astro";
import { getLaunchBy } from "../../service/spacex";
export const prerender = false
const { id } = Astro.params
let launch = await getLaunchBy({id})
console.log(launch)

---
<Layout title={`Lanzamiento ${id}`}>
<article class="flex gap-y-4 flex-col">
    <img class="w-52 h-auto" src={launch?.links?.patch.small} alt={launch?.name} />
    <h2 class=" text-4xl text-white font-bold">Launch #{launch.flight_number}</h2>
    <p class="text-lg text-white">{launch?.details}</p>
</article>
</Layout>